@import "Master";

hr {
    border: 0.1px solid $shadowColor;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.activities-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 3rem;
    width: 100%;
    padding: 1rem;
}

.activity-card-link {
    text-decoration: none;
    padding: 0;
    margin: 0;

    .activity-card {
        @include bordered;
        max-width: 15rem;
        height: fit-content;
        min-height: 263.6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        background-color: #fff;

        .details {
            display: flex;
            flex-direction: column;

        }

        .img1 {
            height: 2rem;
            width: 2rem;
            margin-bottom: 0.2rem;
        }




        h2 {
            margin-bottom: 0.5rem;
        }

        h4 {
            font-size: small;
            font-weight: 100;
        }

        .subsol {
            display: flex;
            flex-direction: row;
            height: 1rem;
            //margin-top: 2.5rem;
            align-items: center;
            justify-content: flex-end;
            gap: 0.5rem;

            p {
                font-size: x-small;
                float: right;
                padding: 0;
                opacity: 0.6;
            }

            .img2 {
                margin-left: 0.5rem;
                height: 1.2rem;
                width: 1.2rem;
                margin: 0;
                opacity: 0.7;
            }
        }


    }

}

.activity-card:hover {
    box-shadow: 0px 1px 10px 1px $shadowColor2;
    cursor: pointer;
}

.activity-plan {
    @include bordered;
    width: 15rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;


    p {
        font-size: small;

        span {
            opacity: 0.8;
        }
    }
}

.activity-plan:hover {
    box-shadow: 0px 1px 10px 1px $shadowColor2;
    cursor: pointer;
}

.activity-status {
    @include bordered;
    width: 15rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;

    p {
        font-size: small;
        opacity: 0.8;
        margin-top: 0.3rem;
    }

    .status-progress {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;

        .status-bar {
            width: 90%;
            height: 0.5rem;
            border-radius: 5px;
            padding: 0;
            border: 1px solid $shadowColor2;
            background-color: $shadowColor2;
        }

        .status-bar-completed {
            height: 0.5rem;
            margin-top: -0.5px;
            border-radius: 5px;
            background-color: #5DFB7C;
        }

        p {
            margin: 0;
            font-size: small;
            opacity: 0.5;
        }
    }



}

.activity-status:hover {
    box-shadow: 0px 1px 10px 1px $shadowColor2;
}