@import "Master";

.auth-form {
    grid-area: form;
    display: grid;
    grid-template-columns: 25vW;
    grid-template-rows: auto;
    grid-template-areas:
        "details";
    margin: auto;
    align-self: center;

    div {
        grid-area: details;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .details-zone {
        @include bordered;
        grid-area: details;

    }

    .input-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: none;
        border: none;
        padding: 0;
    }

    input {
        border: none;
        border-radius: 5px;
        box-shadow: 0px 1px 5px 1px $shadowColor2;
        width: 15rem;
        padding: 0.5rem;
        margin: 0.2rem 0 1rem 0;
    }

    input[type="submit"] {
        width: 15rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 1rem 0;
        background-color: $themeColor;
        color: white;
    }

    input[type="submit"]:hover {
        background-color: $themeAccent;
        //box-shadow: 0px 2px 10px 5px rgba(177, 244, 191, 0.7);
    }



    label {
        margin: 0.2rem 0;
    }

    h2 {
        margin-bottom: 2rem;
        color: $themeColor;
    }



    .err {
        box-shadow: 0px 0.5px 3px 1px rgb(255, 106, 106);
    }


}

.error {
    padding: 0;
    margin: 0;
    color: red;
    font-size: 0.7rem;
}

.navlinks {
    border-radius: 10px;

    margin-right: 1rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    float: right;
    background-color: #000;
    color: #fff;
}

.navlinks a {
    border-radius: 10px;

    text-decoration: none;
    color: #fff;
    font-weight: 400;
    padding: 0.5rem 0.5rem;
}

.navlinks a:hover {
    border-radius: 10px;

    background-color: #fff;
    cursor: pointer;
    color: #000;
    transition: 0.3s all;
}