@import "Master";

.task {
    @include bordered-small;
    height: 3rem;
    width: fit-content;
    padding: 0.5rem;
    background-color: #B1F4BF;

    h5 {
        font-weight: normal;
        opacity: 0.9;
    }
}

.task:hover {
    background-color: rgb(157, 218, 170);
}

.document {
    @include bordered-small;
    height: 1.5rem;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    background-color: #B1F4BF;

    h5 {
        font-weight: normal;
        opacity: 0.9;
    }
}

.document:hover {
    background-color: rgb(157, 218, 170);
}

.note {
    @include bordered-small;
    height: 1.5rem;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    background-color: #F2EEAC;

    h5 {
        font-weight: normal;
        opacity: 0.9;
    }
}

.note:hover {
    background-color: #d4d198;
    ;
}

.resource-container {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}